div.imdb_left{
    float: left;
    width:80%;
}
div.imdb_right{
    float: right;
    width:20%;
}

div.right_item{
    padding: 20px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    background: #fff;
}

